/* Conteneur principal */
.rechercheView {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

/* Titre */
.rechercheView h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Champ de saisie */
.rechercheView input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px; /* Ajout de margin entre le champ de saisie et les résultats */
}

/* Liste des jeux */
.jeux-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.jeu-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    width: 240px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.jeu-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.jeu-card h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.jeu-card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

/* Bouton Acheter */
.jeu-card .btn.acheter {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #eb6534;
    color: white;
    margin-top: 10px;
}

.jeu-card .btn.acheter:hover {
    background-color: #d35d3a;
    transform: scale(1.05);
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .jeux-list {
        flex-direction: column;
        align-items: center;
    }

    .jeu-card {
        width: 90%;
    }
}
