.chatContainer {
    color: white;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    background: transparent;
    max-width: 30vw;
    min-width: 30vw;
    background: linear-gradient(to right, #002663, #4C5CC5);
}

.chatContainer .containers {
    display: flex;
    flex-direction: column;
}

.chatContainer .messagesContainer {
    margin: 0% 1% 0% 5%;
    max-height: 400px;
    overflow-y: auto;
}

.chatContainer .messagesContainer::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
}
.chatContainer .messagesContainer::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de fond de la barre de défilement */
    border-radius: 5px; /* Coins arrondis de la barre de défilement */

}

.chatContainer .userInfo p {
    font-size: 10px;
    margin: 0px 5px 5px 5px;
}

.chatContainer .ownMessage {
    text-align: right;
    margin: 0% 3% 0% 0%;
}
.chatContainer .ownMessage .msg {
    font-size: 15px;
    width: fit-content;
    margin: 5px 0px 0px auto;
    padding: 3px 10px;
    border-radius: 15px;
    background-color: #002663;
}

.chatContainer .otherMessage {
    text-align: left;
}
.chatContainer .otherMessage .msg {
    font-size: 15px;
    width: fit-content;
    max-width: 15vw;
    margin: 5px auto 0px 0px;
    padding: 3px 10px;
    border-radius: 15px;
    background-color: #4C5CC5;
    overflow-wrap: break-word;
}

.chatContainer .msg p {
    margin: 0px;
    padding: 0px;
    overflow-wrap: break-word;
    max-width: 300px;
}

.chatContainer hr {
    margin: 10px 0px 0px 0px;
}

/*********Pour l'input*********/
.chatContainer .inputContainer {
    margin: 0px 0px;
    padding: 10px 0px;
    background: #181a1d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer .inputWithButton {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}

.chatContainer .inputWithButton input {
    border-radius: 15px;
    padding: 5px 45px 5px 10px; /* Ajustez le padding pour éviter que le texte ne chevauche le bouton */
    width: 100%;
}

.chatContainer button {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    bottom: -1px;
}
@media screen and (max-width: 1250px) {
    .chatContainer {
        max-width: 60vw;
        min-width: 60vw;
        margin: auto;
    }
}