.faqView {
    color: white;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    background: transparent;
    min-width: 45vw;
    background: linear-gradient(to right, #002663, #4C5CC5);
}

.faqView .custom-tab-list {
    margin: 2%;
    padding: 0px;
}

/**************************** Début pour gérer la question ****************************/
.faqView .askQuestion form {
    display: flex;
    flex-direction: column;
    margin: 5% 8% 0% 8%;
    justify-content: center;
}



.faqView .askQuestion textarea {
    max-width: 45vw;
    height: 180px;
    margin-bottom: 5%;
    border-radius: 15px;
    padding: 30px 20px 0px 20px;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.7em;
}

.faqView .askQuestion button {
    max-width: 25vw;
    min-width: 25vw;
    min-height: 20px;
    margin: 0% auto 5%;
    background: none;
    border: solid white 2px;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.7s;
}

.faqView .askQuestion button:hover {
    background: #002663;
  }


/**************************** Début pour gérer l'attante + la reponse****************************/
.faqView .common {
    margin: 30px 0% 0px; 
} 

.faqView .common .box {
    max-width: 90%;
    margin: 0% auto;
    max-height: 380px;
    overflow-y: auto; 
} 

.faqView .common .box .data {
    margin: 0px 10px 15px 0px;
    text-align: left;
    padding: 5px 15px;
    border: solid 1px white;
    border-radius: 15px;
    background: #002663;
}

.faqView .common .box .data p {
    margin: 0px;
    padding: 0px;
}

.faqView .common .box .data .aut,.ques,.rep {
    display: flex;
}

.faqView .common .box .data .first_p {
    width: 80px;
}

.faqView .common .box .data .seconde_p {
    max-width: 300px;
    width: fit-content;
    overflow-wrap: break-word;
}


/**************************** Début pour gérer les boutons ****************************/
.faqView .answer .data .buttons {
    width: 100%;
    margin: 3% auto 3%;
}

.faqView .answer .data .buttons .btn {
    display: flex;
    justify-content: space-between;
    margin: 0% 15%;
}

.faqView .answer .data .buttons .btn button {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
}

.faqView .answer .data .buttons .btn .saveBtn:hover {
    background: rgb(9, 218, 9);
}
.faqView .answer .data .buttons .btn .otherBtn:hover {
    background: yellow;
}
.faqView .answer .data .buttons .btn .deleteBtn:hover {
    background: red;
}

/**************************** Début pour gérer les Tab ****************************/
.faqView .custom-tab-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    list-style-type: none;
    margin-bottom: 3%;
    gap: 5%;
}

.faqView .custom-tab {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
}

.faqView .custom-tab.react-tabs__tab--selected {
    color: black;
}


@media screen and (max-width: 1250px) {
    .faqView {
        margin: auto;
    }
}

@media screen and (max-width: 640px) {
    .faqView {
        width: 60vw;
    }
    .faqView .custom-tab-list {
        display: grid;
        /* Créez des colonnes dynamiques avec une largeur minimale de 300px */
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
        gap: 20px;
        justify-content: space-around;
    }
}