.roleView {
    width: 80%;
}

.roleView .userInfo {
    border-radius: 20px;
    display: flex;
    margin-top: 3%;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding: 0px 50px;
}

.roleView .userInfo:nth-child(odd) {
    background-color: #002663;
}

.roleView .userInfo:nth-child(even) {
  background-color: #032151;
}

.roleView .userInfo .textInfo {
    font-size: larger;
}

.roleView .userInfo .textInfo p {
    margin: 7px;
}

.roleView .userInfo .betweenBtn {
    display: flex;
    gap: 25px;
} 

.roleView .userInfo .btn {
    min-width: 200px;
    background: none;
    border: solid white 2px;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 0.7rem;
    transition: 0.5s;
}
