.adminView{
    width: 75%;
    margin: auto;
    padding: 10px;
    background: transparent;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.adminView h1{
    background: #eb6534;
    width: 100%;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding: 20px;
}