.signUp {
    display: flex;
    min-height: 100vh;
    background: #F2D0A4;
    color: #fff;
}

.signUp .left-panel {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.signUp .left-panel h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
    color : black;
    font-weight: bold;
}

.signUp .left-panel .btn {
    width: auto;
    padding: 0.7rem 2rem;
    background: #fff;
    color: #EB6534;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.signUp .left-panel .btn:hover {
    background: #EB6534;
    color: #fff;
}


.logo-image {
    max-width: 100%;  /* Pour éviter que l'image déborde */
    height: auto;     /* Maintient les proportions */
    margin: 0 auto;   /* Centre l'image horizontalement */
    display: block;   /* Évite les problèmes de centrage */
}

.left-panel img {
    max-width: 300px; /* Taille spécifique pour l'image */
    margin-bottom: 10px; /* Espacement avec les autres éléments */
}

.signUp .right-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    background: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.signUp .right-panel .title {
    font-size: 2rem;
    font-weight: 600;
    color: #EB6534;
    margin-bottom: 1rem;
}

.signUp .right-panel .signup-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.signUp .input-field {
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 0.8rem 1.2rem;
    background: #f9f9f9;
    transition: border-color 0.3s;
}

.signUp .input-field input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

.signUp .input-field input::placeholder {
    color: #aaa;
    font-weight: 300;
}

.signUp .input-field:focus-within {
    border-color: #EB6534;
}

.signUp .btn {
    width: 100%;
    padding: 0.8rem;
    background: #EB6534;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.signUp .btn:hover {
    background: #F2D0A4;
}

.signUp .others {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .signUp {
        flex-direction: column;
    }

    .signUp .left-panel {
        width: 100%;
        border-radius: 0;
        padding: 2rem;
    }

    .signUp .right-panel {
        width: 100%;
        border-radius: 0;
    }
}
